{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>ログイン画面</title>
</head>
<div class="login">
  <h1>Login</h1>
  <form method="post" action="">
    <p><input type="text" name="login" value="" placeholder="メールアドレスを入力してください"></p>
    <p><input type="password" name="password" value="" placeholder="パスワードを入力してください"></p>
    <p class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me">
        保存する
      </label>
    </p>
    <p class="submit"><input type="submit" name="commit" value="Login" href="{% url 'index' %}"></p>
  </form>
</div>

<div class="login-help">
  <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div>