h1{
    text-align: center;
    font-family: 'Lato',YuGothic, '游ゴシック',"メイリオ",arial,helvetica,clean,sans-serif;
	font-weight: 100;
}

h5{
    text-align: center;
}

.picture{
    text-align: center;
    width: 100px;
    height: 100px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.site-title{
	color: white;
}


table th{
	font-size: x-large;
	font-weight: 200;
	color: #364e96;/*文字色*/
	padding: 0.5em 0;/*上下の余白*/
	border-top: solid 2px #364e96;/*上線*/
	border-bottom: solid 2px #364e96;/*下線*/
}


.detail1 {
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 0.7em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
  }
  
  .detail1:hover {
	background: #67c5ff;
	color: white;
  }

  .create1 {
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 0.7em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
  }
  
  .create1:hover {
	background: #67c5ff;
	color: white;
  }



.heading{
	font-weight: 100;
}

/* 上に戻るボタン */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}





/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
	padding:25px;
	background: white;
  }
  
  #nav-drawer {
	position: relative;
  }

  /*チェックボックス等は非表示に*/
.nav-unshown {
	display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
	display: inline-block;
	width: 30px;
	height: 22px;
	vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
	position: fixed;
	z-index: 9999;
	height: 3px;/*線の太さ*/
	width: 25px;/*長さ*/
	border-radius: 3px;
	background: #555;
	display: block;
	content: '';
	cursor: pointer;
  }
  #nav-open span:before {
	bottom: -8px;
  }
  #nav-open span:after {
	bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
	display: none;/*はじめは隠しておく*/
	position: fixed;
	z-index: 99;
	top: 0;/*全体に広がるように*/
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;/*最前面に*/
	width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
	max-width: 330px;/*最大幅（調整してください）*/
	height: 100%;
	background: #3a302d;
	transition: .3s ease-in-out;/*滑らかに表示*/
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);/*左に隠しておく*/
  }

  #nav-content a{
	  color: white;
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
	display: block;/*カバーを表示*/
	opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);/*中身を表示（右へスライド）*/
	box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  .create{
	position: relative;
	vertical-align: middle;
	bottom: 1px;
    margin-right: 4px;
  }
  .login{
	  width: 1300px;
	  border-radius:100px;
	  background: #50befd;
	  color: #fff;
	  text-align: center;
	  border: none;
	  margin-top: 20px;
	}
